/* 网站链接总的css定义:可定义内容为链接字体颜色、样式等 */
a{text-decoration: none;} /* 链接无下划线,有为underline */ 
a:link {color: #333333;} /* 未访问的链接 */
a:visited {color: #333333;} /* 已访问的链接 */
A:hover {COLOR: #ff0000; TEXT-DECORATION:underline;  position:relative; left: 1px; top: 1px} /* 鼠标在链接上 */ 
a:active {color: #FF0000;} /* 点击激活链接 */
a:{blr:expression(this.onFocus=this.close());}
/*BodyCSS定义*/
td	{font-family:  "微软雅黑"; font-size: 14px; color: #333333; text-decoration:none ; text-decoration:none ;  }
BODY {
font-family:  "微软雅黑"; font-size: 14px;
background-position: center;

FONT-SIZE: 9pt;
color: #333333;
text-decoration: none;
scrollbar-face-color: #f6f6f6;
scrollbar-highlight-color: #ffffff; scrollbar-shadow-color: #cccccc; scrollbar-3dlight-color: #cccccc; scrollbar-arrow-color: #333333; scrollbar-track-color: #EFEFEF; scrollbar-darkshadow-color: #ffffff;
}
/*英文小字体*/
.small2 {
	font-size: 10px;
}
/*导航标题字体*/
.bigNavi {
	font-size: 14px;
	font-weight: bold;
	color: #0066CC;
}
/*注意CSS*/
.Notices {
	font-size: 14px;
    line-height: 12px;
}
/*主框表格背景色*/
.tabbgcolor {
	background-color: #D4D4D4;
	line-height: 12px;

}
/*主框内部表格背景色*/
.tabbgcolorli {
	background-color: #F9F9F9;
	line-height: 20px;

}
.tabbgcolorlibg {
	background-color: #F0F0F0;
	line-height: 20px;

}
.tabbgcolorli1 {
	background-color: #E6E6E6;
	line-height: 20px;

}
/*主框内部表格背景色*/
.tabbgcolorliWhite {
	background-color: #FFFFFF;
	line-height: 20px;

}
/*左侧内部表格背景色*/
.tabbgcolorlileft {
	background-color:#F5F5F5;
	line-height: 20px;

}
/*左侧底纹*/
.leftbgcolor {
	background-color: #E7E7E7;
	line-height: 22px;

}
/*表单CSS*/
.Anbut {
	BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #4D4D4D 1px solid; BORDER-LEFT: #4D4D4D 1px solid; BORDER-RIGHT: #4D4D4D 1px solid; BORDER-TOP: #4D4D4D 1px solid; COLOR: #333333; FONT-SIZE: 9pt; HEIGHT: 18px; WIDTH: 40px
}
.Anbut1 {
	BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #4D4D4D 1px solid; BORDER-LEFT: #4D4D4D 1px solid; BORDER-RIGHT: #4D4D4D 1px solid; BORDER-TOP: #4D4D4D 1px solid; COLOR: #333333; FONT-SIZE: 9pt; HEIGHT: 20px; WIDTH: 55px
}
.Anbut2 {
	BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #4D4D4D 1px solid; BORDER-LEFT: #4D4D4D 1px solid; BORDER-RIGHT: #4D4D4D 1px solid; BORDER-TOP: #4D4D4D 1px solid; COLOR: #333333; FONT-SIZE: 9pt; HEIGHT: 18px; WIDTH: 85px
}
.Anbutc {
	BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #4D4D4D 1px solid; BORDER-LEFT: #4D4D4D 1px solid; BORDER-RIGHT: #4D4D4D 1px solid; BORDER-TOP: #4D4D4D 1px solid; COLOR: #333333; FONT-SIZE: 9pt; HEIGHT: 18px;
}
/*输入框CSS定义*/
select,option{font-family:  "微软雅黑"; font-size: 14px; line-height: 25px;BACKGROUND-COLOR: #FFFFFF; BORDER-BOTTOM: #4D4D4D 1px solid; BORDER-LEFT: #4D4D4D 1px solid; BORDER-RIGHT: #4D4D4D 1px solid; BORDER-TOP: #4D4D4D 1px solid; COLOR: #333333; }
input,Textarea,{font-family:  "微软雅黑"; font-size: 14px; line-height: 15px;}
/*背景*/
.bg{background-color: #ffffff}
/*红色*/
.Nred9pt {
	color: red;
}
.Nblue9pt {
	color: blue;
}
.NHightblue9pt {
	color: #006699;
}
.Nhightblue9ptbold
{
	color: #006699;
    font-weight: bold;
}
.Nred12pt {
	font-size: 12pt;
	color: red;
}
.Nblue12pt {
	font-size: 12pt;
	color: blue;
}
.NHightblue12pt {
	font-size: 12pt;
	color: #006699;
}
.Nhightblue12ptbold
{
	font-size: 12pt;
	color: #006699;
    font-weight: bold;
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #333333; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-FAMILY: "??ì?"
}
.put { border-top: #cccccc 1px solid ; border-left: #cccccc 1px solid ; border-bottom: #cccccc 1px solid ; border-right: #cccccc 1px solid ; background:#ffffff ; color: #333333 ; font-size: 9pt; PADDING-RIGHT: 1px; PADDING-LEFT: 1px;PADDING-BOTTOM: 1px; PADDING-TOP: 1px; FONT-FAMILY: "??ì?";}
.put1 { border-bottom: #cccccc 1px solid ; border-right: #cccccc 1px solid ; border-top: #cccccc 1px solid ; border-left: #cccccc 1px solid ; background:#ffffff ; color: #333333 ; font-size: 9pt; PADDING-RIGHT: 1px; PADDING-LEFT: 1px;PADDING-BOTTOM: 1px; PADDING-TOP: 1px; HEIGHT: 18px;}
.aa {
	line-height: 35px;  font-size: 12pt;
}
 <style type="text/css">
   .img{text-align:center;}
   .img img{width:100%;}
  </style>

