/*.big_wrapchanquan{    background: url(../../image/zhishi/20170712chanquan01_2.jpg) center center no-repeat;}*/
.big_wrapshangbiao{ background: url(../../image/zhishi/20170712chanquan01_2.jpg) center center no-repeat;}
.solution_top{    padding-left: 350px;}
.solution_toptitle02{ font-size: 40px; color: #ffea00; font-weight: bold;}
.solution_toptitle02 b{ font-size: 24px; color: #fff; font-weight: normal; padding-left: 25px;}
.sb_search{ width: 500px; height: 30px; margin-top: 30px; line-height: 30px; border: 1px solid #51afff; background: #fff;}
.sb_searchl{ width: 70px; float: left; height: 30px; line-height: 30px; color: #333; text-align: center; border-right: 1px solid #e1e1e1; font-size: 12px; position: relative;}
/*.sb_searchicon{}*/
.sb_searchc{ width: 305px; height: 30px; float: left;}
.textMsg{    background: url(../../image/zhishi/search_2.png) no-repeat scroll 10px center #fff;
    border-radius: 3px;
    color: #999;
    font-size: 12px;
    height: 20px;
    padding:0 9px 0 35px;
    width: 305px;}
    .sb_searchr{ width: 116px; height: 30px;float: right;}
    .sb_searchr .btn{    background: none repeat scroll 0 0 #51afff;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-family: "microsoft yahei";
    font-size: 12px;
    height: 30px;
    width: 116px;}
.mainwrap{ width: 1220px; margin: 0 auto;}
.shangbiao_li{width: 235px; height: 292px; margin-top: 40px; padding: 40px 25px 50px;margin-right: 26px; text-align: center; float: left; background: #f5f6fa; position: relative;}
.shangbiao_li:nth-child(4n){margin-right: 0;}
.shangbiao_lip01{ text-align: center; padding-bottom: 20px;}
.shangbiao_lip02 a{ font-size: 16px; color: #333; line-height: 30px;}
.shangbiao_lip02 a:hover{color: #51afff;}
.shangbiao_lip03{ font-size: 14px; color: #999; line-height: 28px; padding-top: 6px;}
.shangbiao_lip04 a{ width: 155px; height: 30px; line-height: 30px; display: inline-block; background: #51afff; text-align: center; font-size: 12px; color: #fff; border-radius: 8px; margin-top: 45px;}
.shangbiao_lihot{ width: 64px; height: 64px; display: inline-block;background: url(../../image/zhishi/20170712chanquan013_2.png) no-repeat; position: absolute; left: 0; top: 0;}
.shangbiao_ul{ overflow: hidden;margin-bottom: 130px;}
.youshi_libg01{width: 386px; height: 180px;background: url(../../image/zhishi/20170712chanquan03_2.jpg) no-repeat;}
.youshi_libg02{width: 386px; height: 180px;background: url(../../image/zhishi/20170712chanquan04_2.jpg) no-repeat;}
.youshi_libg03{width: 386px; height: 180px;background: url(../../image/zhishi/20170712chanquan05_2.jpg) no-repeat;}
.youshi_libg04{width: 386px; height: 180px;background: url(../../image/zhishi/20170712chanquan06_2.jpg) no-repeat;}
.youshi_libg05{width: 386px; height: 180px;background: url(../../image/zhishi/20170712chanquan07_2.jpg) no-repeat;}
.youshi_libg06{width: 386px; height: 180px;background: url(../../image/zhishi/20170712chanquan08_2.jpg) no-repeat;}

.youshi_list li{ line-height: 180px; font-size: 20px; color: #fff; text-align: center; margin-right: 30px; float: left;margin-bottom: 30px;transition: all 0.5s ease 0s;  -webkit-transition: all 0.5s ease 0s; -ms-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s;  cursor: pointer;}
.youshi_list li:nth-child(3n){margin-right: 0;}
.youshi_list li:hover{transform:scale(0.95); -webkit-transform:scale(0.95); -ms-transform:scale(0.95); -moz-transform:scale(0.95); -o-transform:scale(0.95);}
.shangbiao_lip04{ position: absolute; width: 100%; left: 0; bottom: 40px;}
.big_wrapzhuanli{background: url(../../image/zhishi/20170712zhuanli_2.png) center center no-repeat;}
.big_wrapcopyright{background: url(../../image/zhishi/20170712copyright_2.png) center center no-repeat;}








